body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fbfcfb;
}

.container {
    margin-top: 150px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 355px;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    color: #333;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

p {
    margin-top: 10px;
    font-weight: bold;
}
